{{~#if !categories.is_empty() }}
      <nav class="tag-wrapper">
         <ul class="tags">
            {{~#each categories.as_slice() }}
            <li><span>#</span><a href="/{{{ path }}}" rel="tag">{{ name }}</a></li>
            {{~/each }}
         </ul>
      </nav>
{{~/if }}