<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <title>{{title}}</title>
    {{! https://developer.chrome.com/multidevice/android/installtohomescreen !}}
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:site_name" content="{{config.site_name}}" />
    <meta name="description" property="og:description" content="{{description}}"/>
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link rel="icon" sizes="114x114" href="/img/launch-icon-114x114.png" />
    <link rel="apple-touch-icon" href="/img/launch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/launch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/launch-icon-114x114.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/ti.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript" defer></script>
    {{! other scripts are loaded dynamically by responsive.js !}}
    <script src="/js/responsive.js" type="text/javascript" defer></script>
    {{~> @partial-block }}
</head>
