    {{! Links along the left side in desktop view !}}
    <nav id="links">
        <a href="/" rel="home">Home</a>
        <a href="/about" rel="author">About</a>
        {{!> contact_link!}}
        <a href="/photo-tag" rel="search">Photo Tags</a>
    {{~#if let Some(featured) = &ctx.featured_post }}
        <a href="/{{{ featured.path }}}">{{ featured.title }}</a>
    {{~/if }}
        <a href="/map" rel="home">Map</a>
    </nav>
    {{! when/where/who/what selectors loaded by /js/responsive.js !}}
    <nav id="category-menu"></nav>