(
    next_path: None,
    prev_path: Some("atlanta-loop"),
    happened_on: Some("2017-08-06T12:44:04-06:00"),
    as_of: "2020-04-23T11:35:13.905011200-06:00",
    photo_count: 22,
    tags: {
        "creek": (
            name: "Creek",
            photos: [5,13,14,15,16,17,18,20,21,],
        ),
        "dirt-path": (
            name: "Dirt Path",
            photos: [10,11,12,21,22,],
        ),
        "motorcycle": (
            name: "Motorcycle",
            photos: [1,2,4,8,9,11,12,13,15,16,18,20,21,22,],
        ),
        "gas-station": (
            name: "Gas Station",
            photos: [1,],
        ),
        "husqvarna-te-450": (
            name: "Husqvarna TE 450",
            photos: [2,4,11,12,13,16,18,20,21,22,],
        ),
        "riding": (
            name: "Riding",
            photos: [2,11,13,16,18,21,22,],
        ),
        "boise-ridge-road": (
            name: "Boise Ridge Road",
            photos: [3,],
        ),
        "dirt-road": (
            name: "Dirt Road",
            photos: [3,],
        ),
        "karney-creek": (
            name: "Karney Creek",
            photos: [5,],
        ),
        "butterfly": (
            name: "Butterfly",
            photos: [6,],
        ),
        "daggett-creek": (
            name: "Daggett Creek",
            photos: [13,14,15,16,17,18,20,21,],
        ),
        "ktm-500-xc-w": (
            name: "KTM 500 XC-W",
            photos: [1,4,8,9,12,15,],
        ),
        "close-up": (
            name: "Close-up",
            photos: [17,],
        ),
        "path": (
            name: "Path",
            photos: [10,11,12,21,22,],
        ),
        "jeep": (
            name: "Jeep",
            photos: [9,],
        ),
        "moss": (
            name: "Moss",
            photos: [5,19,],
        ),
        "jeep-wrangler": (
            name: "Jeep Wrangler",
            photos: [9,],
        ),
        "garage": (
            name: "Garage",
            photos: [8,9,],
        ),
        "boise-ridge": (
            name: "Boise Ridge",
            photos: [22,],
        ),
        "insect": (
            name: "Insect",
            photos: [6,17,],
        ),
        "mud": (
            name: "Mud",
            photos: [10,],
        ),
        "bee": (
            name: "Bee",
            photos: [17,],
        ),
    },
)