<!DOCTYPE html>
<html lang="en">
    {{~#> html_head title=name, description=ctx.site_description }}
    {{~/html_head ~}}
<body>
    {{#> header title=name, sub_title=sub_title }}
        <aside class="site-description">{{ ctx.site_description }}</aside>
    {{~/header }}

    <div class="thumbs">
    {{~#each photos }}
        <a href="/{{{ this.post_url() }}}"><img src="/{{{ this.thumb_url(super::ext) }}}"/></a>
    {{~/each }}
    </div>

    {{> footer }}
</body>
</html>