{{#> layout title="Photo Tags", sub_title=sub_title }}
   <ul id="letters" class="content">
      {{~#each letters }}<li><a title="View photo tags starting with “{{ this.0 }}”" href="./{{ this.0 }}/">{{ this.0 }}</a></li>{{~/each }}
   </ul>
{{/layout }}