(
    next_path: Some("brother-ride-2008/2.camping-with-cows"),
    prev_path: None,
    happened_on: Some("2008-09-19T18:38:53-06:00"),
    as_of: "2020-04-23T11:35:13.900013-06:00",
    photo_count: 20,
    tags: {
        "store": (
            name: "Store",
            photos: [3,],
        ),
        "bmw-r1200gs-adventure": (
            name: "BMW R1200GS Adventure",
            photos: [1,3,4,6,9,10,11,12,13,],
        ),
        "sign": (
            name: "Sign",
            photos: [2,],
        ),
        "lake": (
            name: "Lake",
            photos: [9,],
        ),
        "outcrop": (
            name: "Outcrop",
            photos: [6,9,10,11,12,],
        ),
        "smoking": (
            name: "Smoking",
            photos: [6,8,],
        ),
        "restaurant": (
            name: "Restaurant",
            photos: [3,],
        ),
        "dancing": (
            name: "Dancing",
            photos: [15,],
        ),
        "stars": (
            name: "Stars",
            photos: [16,17,],
        ),
        "smoke": (
            name: "Smoke",
            photos: [18,],
        ),
        "motorcycle": (
            name: "Motorcycle",
            photos: [1,2,3,4,6,9,10,11,12,13,],
        ),
        "honda-crf-230l": (
            name: "Honda CRF 230L",
            photos: [1,2,3,6,9,10,11,12,13,],
        ),
        "je-stop": (
            name: "J&E Stop",
            photos: [2,3,],
        ),
        "spider": (
            name: "Spider",
            photos: [7,],
        ),
        "fire": (
            name: "Fire",
            photos: [13,14,15,20,],
        ),
        "memorial": (
            name: "Memorial",
            photos: [6,],
        ),
        "gesturing": (
            name: "Gesturing",
            photos: [15,],
        ),
        "night": (
            name: "Night",
            photos: [13,14,15,16,17,18,19,20,],
        ),
        "moon": (
            name: "Moon",
            photos: [18,],
        ),
        "mountain": (
            name: "Mountain",
            photos: [5,9,12,16,18,],
        ),
        "bar": (
            name: "Bar",
            photos: [2,3,],
        ),
        "yamaha-xt-250": (
            name: "Yamaha XT 250",
            photos: [1,2,3,6,10,11,12,13,],
        ),
        "beer": (
            name: "Beer",
            photos: [13,14,],
        ),
        "dirt-road": (
            name: "Dirt Road",
            photos: [4,5,],
        ),
        "power-line": (
            name: "Power Line",
            photos: [3,],
        ),
        "tent": (
            name: "Tent",
            photos: [12,13,15,],
        ),
        "lichen": (
            name: "Lichen",
            photos: [6,],
        ),
    },
)