@use 'font';
@use 'color';
@use 'size';

.about {
   padding: 0;
   position: relative;
   border-radius: size.$borderRadius;
   overflow: hidden;

   .main-image {
      float: right;
      margin: 0;
      padding: 0 0 10px 1em;

      img {
         border: 1px solid color.$trim;
         border-top: none;
         border-right: none;
         border-bottom-left-radius: size.$borderRadius;
      }

      &:hover {
         img { border-color: color.$hover; }
      }
   }

   p {
      padding: 0 2em;
      font-family: font.$serif;
      font-size: 18px;
      line-height: 1.2em;
      margin: 0 0 1em;
      &.first { padding-top: 2em; }
   }

   .by-line {
      text-align: right;
      font-size: 25px;
      padding: 1em 2em 1.5em 0;
      font-family: font.$serif;
      font-style: italic;
   }

   @include size.mobile {
      .main-image img { border: none; }
      p {
         color: color.$light;
         font-size: 20px;

         a { color: color.$mobileLink; }
      }
   }
   @include size.tablet {
      p {
         padding: 0 size.$borderRadius;
         &.first { padding-top: 0; }
      }
   }

   @include size.phone {
      .main-image {
         float: none;
         padding: 0;
         img {
            border: none;
            width: 100%;
            height: auto;
         }
         pointer-events: none;
      }
   }
}
