@use 'color';
@use 'font';
@use 'size';


div.caption {
   margin-top: 0;
   line-height: 1.3em;
   padding: 4px 0 0;
   font-size: font.$size;
   min-height: 1.5em;
   position: relative;

   sup {
      color: color.$footnote;
      vertical-align: top;
      line-height: 1em;
      font-family: font.$sanSerif;
      font-size: 18px;
      cursor: help;
   }

   .tab {
      display: inline-block;
      width: 2em;
   }

   blockquote {
      //font-size: $fontSize - 1;
      background-image: url(/img/left-quote.png);
      background-repeat: no-repeat;
      background-position: left top;
      font-family: font.$serif;
      margin: 1em 1em 0.5em;

      p {
         padding: 0 4em 1em;
         //text-indent: 0;
         line-height: 1.2em;
         color: #444;
      }

      // poems inline with other caption text
      &.poem {
         //background-image: url(/img/quote-ornament.png);
         //background-position: left bottom;
         background-image: none;
         font-family: font.$serif;
         text-align: left;
         margin-top: 1.5em;
         margin-bottom: 0;

         p {
            text-align: left;
            text-indent: 0;
            //line-height: 1.5em;
            font-size: 20px;
            padding: 0 0 1.4em 3em;
         }

         .tab { width: 1.5em; }
      }
   }

   > p, > blockquote {
      &:last-child { padding-bottom: 2em; }
   }

   > p:first-child { padding-top: 2.5em; }

   > blockquote:first-child { margin-top: 2.5em; }

   > p {
      text-indent: 2em;
      font-family: font.$serif;
      margin: 0;
      padding: 0 2.5em 0.5em;

      &:first-of-type,
      &.first { text-indent: 0; }
      &.quip {
         &:first-child,
         &.first { text-indent: 2em; }
      }

      &.note {
         text-indent: 0;
         text-align: center;
         background-color: #fff;
         font-size: small;
         border: 1px solid #bfc1bf;
         margin: 0 4em;
         padding: 1em;
      }

      // captions that are entirely a poem
      &.poem {
         padding-left: 3em;
         line-height: 1.3em;
         font-size: 18px;
      }

      &.haiku {
         font-style: italic;
         font-size: 22px;
         text-indent: 0;
         padding-top: 2em;
         padding-left: 3.5em;
         //padding: 10px 0 15px 65px;
         line-height: 1.1em;

         &:not(:last-child) { padding-bottom: 1.5em; }

         .material-icons {
            display: block;
            position: absolute;
            top: 40px;
            right: 100px;
            color: color.$trim;
            font-size: 75px;
            opacity: 0.1;
         }
      }
   }

   ol.footnotes {
      list-style-type: decimal;
      position: relative;
      border-top: 1px solid color.$trim;
      background-color: darken(color.$light, 5%);
      padding: 10px 20px 10px 40px;
      font-family: font.$sanSerif;
      font-size: 13px;
      margin-top: 20px;
      cursor: help;
      color: color.$footnote;

      li {
         line-height: 1em;
         padding-bottom: 5px;
         counter-increment: note-counter;

         span { color: #444; }
         a:hover { color: color.$hover; }

         // from asterisk in photo title to credit creator
         &.credit {
            list-style: none;
            text-indent: -10px;
            padding-bottom: 10px;

            .material-icons {
               font-size: 14px;
               color: color.$footnote;
               margin: 0;
               padding-right: 7px;
               vertical-align: text-top;
            }
         }
      }
   }

   // mobile caption
   @include size.mobile {
      padding: 0 0 15px;
      font-size: font.$size + 2;
      line-height: 1.3em;
      color: color.$mobileText;

      p {
         padding: 0 0.7em 0.3em;
         &:first-child,
         &.first { padding-top: 0; }
         &:last-child { padding-bottom: 1em; }
      }

      blockquote {
         margin-bottom: 15px;
         text-align: left;
         p {
            font-size: 17px;
            color: color.$mobileText;
            line-height: 1.2em;
            padding: 0 3em 0.5em;
         }
      }

      sup { color: color.$mobileFootnote; }

      ol.footnotes {
         $indent: 30px;
         border: none;
         background-color: #333;
         margin: 6px 0 $indent;
         padding: 6px 5px 0 $indent;
         color: color.$mobileFootnote;

         li {
            padding-bottom: 8px;
            line-height: 1.5em;
            span { color: darken(color.$mobileText, 30%); }
            &.credit {
               text-indent: -8px;
               .material-icons {
                  margin: 0;
                  padding: 2px 2px 0 0;
               }
            }
         }

         opacity: 1;

         a { color: color.$mobileLink; }
      }
   }

   @include size.tablet {
      font-size: font.$size + 3;
      p { padding: 0 1.5em 0.3em 2em; }
   }
}
