@use 'color';
@use 'font';
@use 'size';

header.page {
   #top-bar {
      .site-description {
         position: absolute;
         text-align: right;
         top: 20px;
         right: 10px;
         color: color.$trim;
         width: 28%;
      }

      @include size.mobile {
         .site-description {
            color: color.$lightTrim;
            top: 10px;
            // room for menu icon
            right: 75px;
         }
      }

      @include size.phone {
         .site-description { display: none; }
      }
   }
}

div.root-category {
   .material-icons {
      font-size: 150px;
      float: right;
      color: color.$light;
      padding: 30px;
   }
   ul {
      font-size: 20px;
      padding: 10px 0 20px 20px;
      li {
         line-height: 1.5em;
         color: color.$lightTrim;

         a {
            font-size: 25px;
            padding-right: 5px;
            text-decoration: none;
            font-weight: bold;
         }
      }
   }
}

div.category {
   background: none;

   section.posts {
      padding: 0;
      margin: 0;
      font-family: font.$sanSerif;
      background: none;

      article.summary {
         font-weight: normal;
         clear: left;
         text-shadow: none;
         padding: 0;
         margin: 20px 0 0 0;
         background-color: color.$background;
         border-radius: size.$borderRadius;
         overflow: hidden;

         @include size.mobile {
            border-radius: 0;
            margin-top: 30px;
         }

         &:first-of-type {
            margin-top: 10px;
         }

         header.post {
            background-color: #fff;
            margin-top: 0;
            padding: 13px 13px 10px 15px;

            .mode-icon {
               float: right;
               margin: 1px 10px 0 0;
            }

            @include size.phone { .mode-icon { display: none; }}

            ul.info {
               margin-top: -1px;
               float: right;
               list-style: none;
               li {
                  text-align: right;
                  font-size: 13px;
                  line-height: 1em;
               }
               li.date-taken { font-weight: bold; }
               li.photo-count { color: color.$trim; }
            }

            a.title {
               clear: both;
               display: inline-block;
               padding-top: 3px;
               color: color.$bold;
               letter-spacing: -0.5;
               font-size: 23px;
               font-weight: bold;
               text-decoration: none;

               .subtitle {
                  padding-top: 4px;
                  display: block;
                  font-size: 18px;

                  .part {
                     font-weight: normal;
                     padding-right: 4px;
                  }
               }

               &:hover { color: color.$hover; }

               @include size.mobile { line-height: 1em; }
            }
         }

         a.thumb {
            margin: 0 20px 0 0;
            float: left;

            @include size.phone {
               // thumb image updated in responsive.ts to take full width
               float: none;
               margin: 0;
            }
         }

         a.map {
            margin-left: -20px;

            @include size.phone { display: none; }
         }

         p.summary {
            margin: 2em 2em 2.5em;
            font-family: font.$serif;
            font-size: 17px;
            line-height: 1.2em;
            color: #000;
         }

         // category tags
         ul.categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            margin: 0;
            background-color: color.$trim;
            padding: 5px;
            clear: both;

            li {
               position: relative;
               font-size: 16px;
               font-weight: normal;

               display: block;
               padding: 3px 4px;
               margin-left: 3px;
               line-height: 1em;
               white-space: nowrap;

               span {
                  // pound sign
                  color: color.$lightTrim;
                  padding-right: 1px;
               }

               a {
                  color: color.$light;
                  text-decoration: none;
                  letter-spacing: -0.5px;

                  &:hover { text-decoration: underline; }
               }
            }

            @include size.mobile {
               li {
                  font-size: 20px;
                  padding: 6px 8px;
               }
            }
         }
      }
   }
}
