$bold: #524948;
$trim: #747e73;
$lightTrim: #bfc1bf;
$light: #dfe1df;
$hover: #910;
$footnote: #900;
$background: #eee;

$mobileText: #ddd;
$mobileHover: #e5e;
$mobileActive: #ef0;
$mobileFootnote: #e99;
$mobileLink: #69f;
$mobileBackground: #444;