// https://css-tricks.com/snippets/css/system-font-stack/
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$sanSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
$serif: 'Lora', Georgia, Times;
$header: 'Oswald', Impact, Arial, sans-serif;
$size: 17px;